{{ define "jira.summary" }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]{{ if .CommonLabels.cluster }}[{{ .CommonLabels.cluster }}]{{end}} {{ (index .Alerts 0).Annotations.summary }}{{ end }}

{{ define "jira.description" }}

Group details:
{{ range .GroupLabels.SortedPairs }} - {{ .Name | title }} = {{`{{`}}{{ .Value }}{{`}}`}}
{{ end }}

{{ range .Alerts.Firing }}
----
{{ .Annotations.description }}

Details:
{{ range (.Labels.Remove $.GroupLabels.Names).SortedPairs }}
- {{ .Name }} = {{`{{`}}{{ .Value }}{{`}}`}}
{{ end }}

{{ if .GeneratorURL }}[Alert source|{{ .GeneratorURL }}]{{ end }}
{{ end }}
{{ end }}
